{% extends "core/base.html" %}
{% load static %}

{% block title %}Пароль изменён | MONO LINE{% endblock %}

{% block extra_css %}
    <link
        rel="stylesheet"
        href="{% static 'accounts/css/accounts.css' %}"
    >
{% endblock %}

{% block content %}
<section class="account-layout">
    <div class="auth-card">
        <header class="auth-head">
            <h1>Пароль изменён</h1>

            <p>
                Новый пароль сохранён.
                Теперь вы можете войти в свой аккаунт.
            </p>
        </header>

        <a
            class="auth-btn"
            href="{% url 'accounts:login' %}"
        >
            Войти
        </a>
    </div>
</section>
{% endblock %}