{% extends "core/base.html" %}
{% load static %}

{% block title %}Письмо отправлено | MONO LINE{% endblock %}

{% block extra_css %}
    <link
        rel="stylesheet"
        href="{% static 'accounts/css/accounts.css' %}"
    >
{% endblock %}

{% block content %}
<section class="account-layout">
    <div class="auth-card">
        <header class="auth-head">
            <h1>Проверьте почту</h1>

            <p>
                Если аккаунт с указанным email существует,
                мы отправили ссылку для восстановления пароля.
            </p>
        </header>

        <div class="auth-bottom">
            <a
                class="auth-link"
                href="{% url 'accounts:login' %}"
            >
                Вернуться ко входу
            </a>
        </div>
    </div>
</section>
{% endblock %}