{% extends "core/base.html" %}
{% load static %}

{% block title %}Регистрация | MONO LINE{% endblock %}
{% block body_class %}register-page{% endblock %}

{% block extra_css %}
    <link
        rel="stylesheet"
        href="{% static 'accounts/css/accounts.css' %}"
    >
{% endblock %}

{% block content %}
<section class="account-layout">
    <div class="auth-card">
        <header class="auth-head">
            <h1>
                Создать аккаунт
            </h1>

            <p>
                Зарегистрируйтесь, чтобы быстрее
                оформлять заказы и видеть историю покупок.
            </p>
        </header>

        <form
            class="auth-form"
            method="post"
        >
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-alert">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="form-group">
                    <label
                        class="form-label"
                        for="{{ field.id_for_label }}"
                    >
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.help_text %}
                        <div class="form-help">
                            {{ field.help_text|safe }}
                        </div>
                    {% endif %}

                    {% if field.errors %}
                        <div class="form-errors">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button
                class="auth-btn"
                type="submit"
            >
                Зарегистрироваться
            </button>
        </form>

        <div class="auth-bottom">
            <p>
                Уже есть аккаунт?
            </p>

            <a
                class="auth-link"
                href="{% url 'accounts:login' %}"
            >
                Войти
            </a>
        </div>
    </div>
</section>
{% endblock %}