{% extends "core/base.html" %}

{% block title %}MONO LINE{% endblock %}

{% block content %}
<h1>MONO LINE</h1>

<section>
    <h2>Популярное</h2>

    {% if popular_products %}
        {% for product in popular_products %}
            {% include "products/includes/product_card.html" with product=product only %}
        {% endfor %}
    {% else %}
        <p>Популярных товаров пока нет.</p>
    {% endif %}
</section>

<section>
    <h2>Новинки</h2>

    {% if new_products %}
        {% for product in new_products %}
            {% include "products/includes/product_card.html" with product=product only %}
        {% endfor %}
    {% else %}
        <p>Товаров пока нет.</p>
    {% endif %}
</section>

<p>
    <a href="{% url 'products:catalog' %}">
        Смотреть весь каталог
    </a>
</p>
{% endblock %}