<div
    class="password-requirements"
    data-password-requirements
    data-validation-url="{% url 'accounts:password_check' %}"
    data-password-input="{{ password_input_id }}"
    data-mode="{{ password_mode }}"
    {% if email_input_id %}
        data-email-input="{{ email_input_id }}"
    {% endif %}
>
    <p class="password-requirements__title">
        Требования к паролю
    </p>

    <ul class="password-requirements__list">
        <li
            class="password-requirement is-neutral"
            data-password-rule="min_length"
        >
            Не менее 8 символов
        </li>

        <li
            class="password-requirement is-neutral"
            data-password-rule="similarity"
        >
            Не похож на личные данные
        </li>

        <li
            class="password-requirement is-neutral"
            data-password-rule="common_password"
        >
            Не является распространённым паролем
        </li>

        <li
            class="password-requirement is-neutral"
            data-password-rule="numeric"
        >
            Не состоит только из цифр
        </li>
    </ul>
</div>